// _mainBody.scss
#mainBody {
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    #mainBody {
        padding: 5.4rem .8rem 0;
        width: 104rem;
    }
}

@media screen and (max-width: 767px) {
    #mainBody {
        padding: .8rem;
        width: 100%;
    }
}

@import "_navMenu";
