// _variable.scss

// fontColor
$fontDefaultColor: #333333;
$fontHeaderColor: #ffffff;

// linkColor
$linkDefaultColor: #00a0e9;
$linkVisitedColor: #551A8B;

// bgColor
$bgDefaultColor: #ffffff;
$bgHeaderColor: #434343;
