// main.scss

// memo
// ベンダープレフィックスは基本いらない
// font-sizeの単位指定はremで（1.4rem→14pxとなる）
// 色指定は_variable.scssで変数指定する
// コンポーネント毎のscssファイルはid(#)の下に書いていく

@charset "utf-8";

//初期設定
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
html, body, article {
    width: 100%;
    height: 100%;
}
article {
    position: fixed;
    top: 0;
}
